div.signin-page {
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 40px;
	grid-template-areas:
		'content'
		'footer';
}

.signin-page-content {
	grid-area: content;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: rgb(200, 192, 236);
}

form.signin-form {
	grid-area: content;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 400px;
	width: 300px;
	padding: 40px;

	background: rgb(204, 204, 204);
	border-radius: 10px;
	box-shadow: 0px 0px 15px 2px black;
}

.signin-form input, .signin-form button {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
}
