.user-page {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 40px;
	grid-template-areas:
		'content'
		'footer';
	
	height: 100%;
}

.user-page-content {
	grid-area: content;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.update-user-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	background: #b8b8b8;
	border: 2px solid #777777;
	border-radius: 10px;
	padding: 16px;
}

.update-user-form > label {
	margin: 15px 0px;
	font-size: 1.6em;
}

.input-block {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	margin: 12px 0px;
	width: 100%;
}

.input-block > label {
	margin-right: 12px;
}

.input-block > input {
	width: 270px;

	border: 1px solid #777777;
}

.button-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.button-list > button {
	padding: 10px 12px;
	margin-left: 10px;
}
